<style>
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
  @import url("static/style.css");
</style>
<script src="assets/graph-explorer-full.min.js"></script>

<div id="graph-explorer-instance"></div>

<script>
  const graphExplorerConfig = JSON.parse('{{{ graphExplorerConfig }}}');
</script>
<script src="static/app.js"></script>
