body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

header {
  background-color: #e4e4e4;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

header h1 {
  margin: 0 8px;
  font-size: 1.5em;
}

header a img {
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 4px;
  border-radius: 4px;
}

header a img:hover {
  background-color: #ccc;
}

#graph-explorer-instance {
  height: calc(100vh - 42px);
  width: 100vw;
}
