<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Graph Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>Graph Explorer</h1>
    <p>
      <a href="https://github.com/zazuko/graph-explorer" target="_blank" title="View on GitHub">
        <img src="graph-explorer/static/github.svg" alt="GitHub" width="24" height="24">
      </a>
    </p>
  </header>
  <main>
    {{{ body }}}
  </main>
</body>
</html>
